body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0; /* Optional: Background color for better visibility */
}

#add-button {
    display: block;
    margin: 20px auto; /* Center the button horizontally with margin at the top */
    padding: 10px 20px;
    font-size: 16px;
    background-color: #F5C300;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#add-button:hover {
    background-color: #F5B000; /* Slightly darker yellow on hover */
}

/* Container for clocks */
#clock-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    gap: 40px; /* Adjust the gap between clocks as needed */
    justify-content: center; /* Center the grid horizontally */
    padding: 20px; /* Padding around the container */
}

/* Individual clock styling */
.clock {
    width: 300px;
    height: 300px;
    border: 10px solid #333;
    border-radius: 50%;
    background-color: #6e36ae;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}



.time-display {
    width: 200px;
    height: 100px;
    background: #000;
    color: #0f0;
    border: 3px solid #6e36ae;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    text-align: center;
}

.blinking {
    animation: blink 1s step-start infinite;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}

.light-on .time-display {
    background: #FBE106; /* Yellow background when light is on */
    color: #000; /* Black text when light is on */
}

.light-off .time-display {
    background: #000; /* Black background when light is off */
    color: #0f0; /* Green text when light is off */
}

.buttons-container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

button {
    background-color: #F5C300;
    border: none;
    padding: 10px;
    border-radius: 4px;
    font-size: 12px;
    cursor: pointer;
    font-weight: bold;
}

.button:hover {
    background-color: #F5B000; /* Slightly darker yellow on hover */
}

.mode-button {
    position: absolute;
    top: 15%;
    right: 15%;
    transform: translate(50%, -50%) rotate(45deg);
}

.increase-button {
    position: absolute;
    bottom: 15%;
    right: 15%;
    transform: translate(50%, 50%) rotate(-45deg);
}

.light-button {
    position: absolute;
    bottom: 15%;
    left: 15%;
    transform: translate(-50%, 50%) rotate(45deg);
}
